* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    position: relative;
    background: linear-gradient(120deg, #fff, #fff 60%, #3b5998 60%,  #3b5998 100%);
    min-height: 100vh;
    padding: 0 2rem;
    display: flex;
    align-items: center;
}

/*header*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo img {
    max-width: 50px;
    margin-right: 20px;
}

.header ul {
    display: flex;
}

.header ul > li {
    list-style: none;
    margin: 0 10px;
}

header ul > li > a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

header ul > li > a:hover {
    color: #2d88ff;
}

/*promotional section*/
.contentBx {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text_content {
    max-width: 800px;
}

.title {
    font-size: 6rem;
    color: #3b5998;
}

.text_content p {
    font-size: 1.1rem;
    color: #333;
    line-height: 1.8rem;
}

.text_content h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #333;
}

.btn_play_store {
    display: inline-flex;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.1rem;
    margin: 5px 20px 5px 0;
    border-radius: 5px;
    background-color: #3b5998;
    color: #ffffff;
}

.btn_play_store:hover {
    background-color: #2d88ff;
}

.btn_play_store ion-icon {
    margin-right: 10px;
    font-size: 1.4rem;
}

/*images*/
.imgBx img{
    margin-left: 50px;
    margin-right: 100px;
    max-width: 260px;
    display: none;
}

.imgBx img.active {
    display: block;
}

.dots {
    position: absolute;
    top: 40%;
    transform: translateX(-50%);
    right: 80px;
    display: flex;
    flex-direction: column;
}

.dot {
    position: relative;
    width: 10px;
    height: 30px;
    background-color: rgba(255, 2555, 2555, 0.25);
    display: inline-flex;
    margin-bottom: 5px;
    cursor: pointer;
}

.dots span.active {
    background-color: #ffffff;
}

/*footer*/
.networks {
    position: absolute;
    bottom: 30px;
    display: flex;
}

.networks li {
    list-style: none;
    margin-right: 20px;
}

.networks li > a {
    font-size: 2rem;
    color: #3b5998;
}


.networks li > a:hover {
    color: #2d88ff;
}

/*media queries*/
@media (max-width: 920px) {
    
    .header {
        padding: 30px;
        justify-content: space-between;
    }

    .main {
        padding: 30px;
        background: #ffffff;
    }
    
    .contentBx {
        flex-direction: column-reverse; 
        margin: 100px 0;
    }

    .imgBx img {
        margin: 0;
    }

    .dots {
        position: relative;
        top: initial;
        transform: none;
        right: initial;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }

    .dot {
        height: 10px;
        width: 25px;
        margin-right: 10px;
        background-color: #3b5998;
        opacity: 0.2;
    }

    span.active {
        opacity: 1;
        background-color: #3b5998;
    }

    .title {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .networks {
        width: 90%;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

}